{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
        <div class="row" style="height: 100px;">
            <div class="col"></div>
        </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <h2 class="pt-4 text-center main-title">BIRDIE’S BAKEHOUSE</h2>
    <div class="row my-3 mx-2">
        <div class="col-md-4">
            <div class="home-col bg-paste d-flex justify-content-center left-box">
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-col bg-brown d-flex justify-content-center align-items-center mid-box">
                <div>
                    <h2 class="text-black">Lovingly made <br>desserts for <br> everyone</h2>
                    <div class="text-center">
                        <a href="{% url 'products' %}" class="btn btn-light btn-lg mt-3">ORDER HERE</a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-col bg-pink d-flex justify-content-center right-box">
            </div>
        </div>
    </div>
</div>
{% endblock %}