{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="row text-uppercase text-black text-center main-title">
    <h1>Birdie's Bakehouse</h1>
</div>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="wrapper">
            <div class="col col-xs-12 box mx-5 left-box">
            </div>
            <div class="col col-xs-12  box mx-5 mid-box">
                <div class="row">
                    <h1 class="main-title">Lovingly made desserts for everyone</h1>
                </div>               
            </div>
            <div class="col col-xs-12  box mx-5 right-box">
            </div>
        </div>
    </div>
</div>
{% endblock %}