html {
    height: 100%;
}

body{
    color: #fff9f9;
    font-family: 'Roboto' serif;
}


.text-black, i {
    color: #000000 !important;
}

.main-title{
    font-family: 'Abhaya Libre', serif;
    font-size:  .3rem;
    color: #000000;
    padding-top: 10px;
}

i , .nav-font{
    font-size: 1.5rem;
}

.icon-space-between {
    justify-content: space-between;
}

.nav-border {
    margin: 0;
    border-bottom: double;
    padding-top: 10px;
    width: 90%;
    color: #000000;
}

.nav-border-center {
    justify-content: center;
}

/*Bootstrap overrides*/

.navbar-nav{
    width: 100%;
    justify-content: space-evenly;
}

.dropdown-toggle::after{
    content:none;
}

.fixed-top{
    padding-top: 20px;
}

/* paddings
.list-padding {
    padding: 0px 40px 0px 40px;
} */

/*Custom search*/
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]::placeholder{
    text-align: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    font-style: 15px;
}

/*Buttons */

.unstyled-btn{
    border:none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  } 
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}